<h3>Sử dụng ngoac nhon để biding dữ liệu</h3>
<p>
  {{ name }}
</p>

<h3> Sử dụng atrribute để bidin liệu</h3>
<input value="{{ name }}" />

<h3> Sử dụng atrribute để biding dư liệu cách thứ 2. Cái này được khuyên nên </h3>
<input [value]="name" />

<h3> Binding sự kiện </h3>
<button (click)="onButtonClicked()">Change Name</button>

<h3> 2 way Binding sự kiện </h3>
<input [(ngModel)]="name" />
<hr>
<h1>Template-Driven Forms Trong Angular</h1>
<form novalidate  class="row justify-content-md-center" #form="ngForm" (submit)="onSubmit(form)">
  <div class="col-md-8">
    <div class="form-group row">
      <label for="example-text-input" class="col-md-2 col-form-label" >Name:</label>
      <div class="col-md-10">
        <input class="form-control" type="text" id="example-text-input"  ngModel name="contactName" required>

      </div>
      <div class="col alert alert-danger" role="alert"
           *ngIf="form.controls.contactName?.errors?.required && form.controls.contactName?.touched">
        Email is required!
      </div>
    </div>
    <div class="form-group row">
      <label for="example-email-input" class="col-md-2 col-form-label">Email:</label>
      <div class="col-md-10">
        <input class="form-control" type="email" id="example-email-input" ngModel name="email" required #email="ngModel">
      </div>
      <div class="col alert alert-danger" role="alert"
           *ngIf="email?.errors?.required && email?.touched">
        Name is required!
      </div>
    </div>
    <fieldset ngModelGroup="social">
      <div class="form-group row">
        <label for="example-url-fb" class="col-md-2 col-form-label">Facebook:</label>
        <div class="col-md-10">
          <input class="form-control" type="url" id="example-url-fb" ngModel name="facebook">
        </div>
      </div>
      <div class="form-group row">
        <label for="example-url-twt" class="col-md-2 col-form-label">Twitter:</label>
        <div class="col-md-10">
          <input class="form-control" type="url" id="example-url-twt" ngModel name="twitter">
        </div>
      </div>
      <div class="form-group row">
        <label for="example-url-web" class="col-md-2 col-form-label">Website:</label>
        <div class="col-md-10">
          <input class="form-control" type="url" id="example-url-web" ngModel name="website">
        </div>
      </div>
    </fieldset>
    <div class="form-group row">
      <label for="example-tel-input" class="col-md-2 col-form-label">Tel:</label>
      <div class="col-md-10">
        <input class="form-control" type="tel" id="example-tel-input">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-10 offset-md-2">
        <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Submit</button>
      </div>
    </div>
  </div>
</form>

<p>Form value:</p>
<pre> {{ form.value | json }}</pre>